<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        Vcodify Technologies Pvt. Ltd


    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
  
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet">



    <link rel="icon" href="~/images/favicon-32x32.png" type="image/png" />

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
<div id="spinner"
     class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->
<!-- Topbar Start -->
<div class="container-fluid bg-dark py-2 d-none d-md-flex">
    <div class="container">
        <div class="d-flex justify-content-between topbar">
            <div class="top-info">
                <small class="me-3 text-white-50">
                    <a href="#">
                        <i class="fas fa-map-marker-alt me-2 text-secondary"></i>
                    </a>SCO 198-199-200, 1st Floor
                    Sector 34 A, Chandigarh Pincode : 160022
                </small>
                <small class="me-3 text-white-50">
                    <a href="#">
                        <i class="fas fa-envelope me-2 text-secondary"></i>
                    </a>hr@vcodifytechnologies.com
                </small>
            </div>
            <!-- <div id="note" class="text-secondary d-none d-xl-flex"><small>Note : We help you to Grow your
                    Business</small></div> -->
            <div class="top-link">
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle">
                    <i class="fab fa-facebook-f text-primary"></i>
                </a>
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle">
                    <i class="fab fa-twitter text-primary"></i>
                </a>
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle">
                    <i class="fab fa-instagram text-primary"></i>
                </a>
                <a href="" class="bg-light nav-fill btn btn-sm-square rounded-circle me-0">
                    <i class="fab fa-linkedin-in text-primary"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
    <div class="container-fluid bg-primary">
        <div class="container">
            <nav class="navbar navbar-dark navbar-expand-lg py-0">
                <a href="index.html" class="navbar-brand py-0 my-0">
                    <h1 class="text-white fw-bold d-block">
                        <span class="text-secondary">
                            <img src="~/images/icon-vcodify.png"
                                 class="img-fluid my-1" style="Height: 60px;
                                        object-fit: cover;">
                        </span>
                    </h1>
                </a>
            <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon">

                </span>
            </button>
            <div class="collapse navbar-collapse bg-transparent" id="navbarCollapse">
                <div class="navbar-nav ms-auto mx-xl-auto p-0">
                    <a href="/Home/Index" class="nav-item nav-link active text-secondary">Home</a>
                    <a href="/Home/About" class="nav-item nav-link">About</a>
                    <a href="/Home/Service" class="nav-item nav-link">Services</a>
                    <a href="/Home/Project" class="nav-item nav-link">Projects</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu rounded">
                            <a href="/Home/Blog" class="dropdown-item">Our Blog</a>
                            <a href="/Home/Testimonial" class="dropdown-item">Testimonial</a>

                        </div>
                    </div>
                    <a href="/Home/Contact" class="nav-item nav-link">Contact</a>
                </div>
            </div>
            <div class="d-none d-xl-flex flex-shirink-0">
                <div id="phone-tada" class="d-flex align-items-center justify-content-center me-4">
                    <a href="" class="position-relative animated tada infinite">
                        <i class="fa fa-phone-alt text-white fa-2x"></i>
                        <div class="position-absolute" style="top: -7px; left: 20px;">
                            <span><i class="fa fa-comment-dots text-secondary"></i></span>
                        </div>
                    </a>
                </div>
                <div class="d-flex flex-column pe-4 border-end">
                    <span class="text-white-50">Have any questions?</span>
                    <span class="text-secondary">Call: (+91) 7740071599</span>
                </div>
                <div class="d-flex align-items-center justify-content-center ms-4 ">
                    <a href="#"><i class="bi bi-search text-white fa-2x"></i> </a>
                </div>
                    <div class="login">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="/Login" class="btn btn-primary-login rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0">Login</a>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="/Admin/EnquiryList" class="btn btn-primary rounded-pill py-2 px-4 my-3 my-lg-0 flex-shrink-0">Dashboard</a>
                        }
                    </div>
                   
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->
    @RenderBody()


    <div class="container-fluid footer bg-dark wow fadeIn" data-wow-delay=".3s">
        <div class="container pt-5 pb-4">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <a href="index.html">
                        <h1 class="text-white fw-bold d-block"><span class="text-secondary"> <img src="~/images/icon-vcodify.png"
                                    class="img-fluid" style="Height: 75px;
object-fit: cover;"></span> </h1>
                    </a>
                    <p class="text-light">Vcodify Technologies Pvt. Ltd. is dedicated to delivering high-quality,
                        customer-centric, and cost-effective IT solution.</p>
                    <div class="d-flex hightech-link">
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                                class="fab fa-facebook-f text-primary"></i></a>
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                                class="fab fa-twitter text-primary"></i></a>
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-2"><i
                                class="fab fa-instagram text-primary"></i></a>
                        <a href="" class="btn-light nav-fill btn btn-square rounded-circle me-0"><i
                                class="fab fa-linkedin-in text-primary"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" class="h3 text-secondary">Short Link</a>
                    <div class="mt-4 d-flex flex-column short-link">
                        <a href="/Home/About" class="mb-2 text-white">
                            <i class="fas fa-angle-right text-secondary me-2"></i>About
                            us</a>
                        <a href="/Home/Contact" class="mb-2 text-white">
                            <i class="fas fa-angle-right text-secondary me-2"></i>Contact
                            us</a>
                        <a href="/Home/Service" class="mb-2 text-white">
                            <i class="fas fa-angle-right text-secondary me-2"></i>Our
                            Services</a>
                        <a href="/Home/Project" class="mb-2 text-white">
                            <i class="fas fa-angle-right text-secondary me-2"></i>Our
                            Projects</a>
                        <a href="/Home/Blog" class="mb-2 text-white">
                            <i class="fas fa-angle-right text-secondary me-2"></i>Latest
                            Blog</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" class="h3 text-secondary">Help Link</a>
                    <div class="mt-4 d-flex flex-column help-link">
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Terms
                            Of use</a>
                        <a href="" class="mb-2 text-white"><i class="fas fa-angle-right text-secondary me-2"></i>Privacy
                            Policy</a>
                        <a href="" class="mb-2 text-white"><i
                                class="fas fa-angle-right text-secondary me-2"></i>Helps</a>
                        <a href="" class="mb-2 text-white"><i
                                class="fas fa-angle-right text-secondary me-2"></i>FQAs</a>
                        <a href="/Home/Contact" class="mb-2 text-white">
                            <i class="fas fa-angle-right text-secondary me-2"></i>Contact</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="#" class="h3 text-secondary">Contact Us</a>
                    <div class="text-white mt-4 d-flex flex-column contact-link">
                        <a href="#" class="pb-3 text-light border-bottom border-primary"><i
                                class="fas fa-map-marker-alt text-secondary me-2"></i> SCO 198-199-200, 1st Floor Sector
                            34 A, Chandigarh Pincode : 160022</a>
                        <a href="#" class="py-3 text-light border-bottom border-primary"><i
                                class="fas fa-phone-alt text-secondary me-2"></i> +91 774 (007) 1599</a>
                        <a href="#" class="py-3 text-light border-bottom border-primary"><i
                                class="fas fa-envelope text-secondary me-2"></i>
                            hr@vcodifytechnologies.com
                        </a>
                    </div>
                </div>
            </div>
            <hr class="text-light mt-5 mb-4">
            <div class="row">
                <div class="col-md-12 text-center text-md-center">
                    <span class="text-light"><a href="#" class="text-secondary">© VcodifyTechnologies</a>, All right
                        reserved.</span>
                </div>
                <!-- <div class="col-md-6 text-center text-md-end">
                          <span class="text-light">Designed By<a href="https://htmlcodex.com" class="text-secondary">HTML
                            Codex</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a></span>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-secondary btn-square rounded-circle back-to-top">
        <i class="fa fa-arrow-up text-white"></i>
    </a>
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Load jQuery Validation Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    



    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>
</html>